<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_head :: head">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>

<div id="content">
    <h2>Golf Croquet Terms</h2>

    <table class="glossary">
        <tr>
            <th>TERM</th>
            <th>DEFINITION</th>
            <th>REGULATION</th>
        </tr>
        <tr th:each="item : ${terms}">
            <td>
                <span th:text="${item.term}"></span>
            </td>
            <td>
                <span th:text="${item.definition}"></span>
            </td>
            <td>
                <span th:text="${item.regulation}"></span>
            </td>
        </tr>
    </table>


</div>

</body>
</html>